@import url('../columns/columns-tokens.css');

.columns-support > div {
  display: flex;
  flex-direction: column;
}

.columns-support img {
  max-width: 64px;
  height: auto;
}

.columns-support > div > div {
  order: 1;
}

.columns-support > div > .columns-support-img-col {
  order: 0;
}

.columns-support > div > .columns-support-img-col img {
  display: block;
}

.columns-support a {
  color: var(--brand-color);
  font-weight: 600;
}

.columns-support a:hover {
  color: #b53600;
}

@media (width >= 900px) {
  .columns-support > div {
    align-items: flex-start;
    flex-direction: unset;
    gap: var(--columns-gap);
  }

  .columns-support > div > div {
    flex: 1;
    order: unset;
  }
}
