@import url('../hero/hero-tokens.css');

.hero-corporate-container .hero-corporate-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-corporate {
  position: relative;
  padding: var(--hero-padding);
  min-height: var(--hero-min-height);
  background-color: var(--dark-color);
  color: #fff;
}

.hero-corporate h1,
.hero-corporate h2 {
  max-width: var(--hero-heading-max-width);
  color: #fff;
}

.hero-corporate h2 {
  font-size: var(--body-font-size-m);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hero-corporate p {
  color: #fff;
  max-width: 600px;
}

.hero-corporate a {
  color: #fff;
  display: inline-block;
  margin-top: 16px;
  padding: 12px 24px;
  border: 2px solid var(--brand-color);
  border-radius: 4px;
  background-color: var(--brand-color);
  font-weight: 600;
  text-decoration: none;
}

.hero-corporate a:hover {
  background-color: #b53600;
  border-color: #b53600;
  color: #fff;
  text-decoration: none;
}

.hero-corporate picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-corporate img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-corporate {
    padding: var(--hero-padding-desktop);
    min-height: var(--hero-min-height-desktop);
  }
}
